// Define variables for your color scheme

// For example:
$red: rgb(246,64,95);
$blue: rgb(4,86,207);
$pink: rgb(252,177,175);
$yellow: #FFC65A;
$orange: #E67E22;
$green: rgb(5,180,112);
$mid-green: rgb(3, 105, 66);
$gray: #0E0000;
$light-gray: #f4f4f4ca;
$mid-gray: #474747ca;
