<%= stylesheet_link_tag("bike_show")%>

<div class="row">
  <% @bike.photos.each do |photo| %>
    <div class="col col-md-3 ml-2 mr-2 mt-3 mb-3">
      <div class="card">
          <div class="d-flex justify-content-between mb-3">
            <div>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
