@import "config/colors";

body {
  background-color: #fff;
}

h1 {
  color: rgb(5,180,112);
}

.parent {
  min-height: 100vh;
  margin-bottom: 30px;
}

.bike-info {
  margin-top: 30px;
}

.bike-info p {
  font-weight: 600;
}

#nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-btn a {
  color: $red;
}

#nav-btn a:hover {
  font-weight: bold;
}

#nav-btn #edit-btn {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: $green;
  border: 1px solid $green;
  box-shadow: 5px 5px 10px $mid-gray;
  transition: 0.4s ease-in-out;
}

#nav-btn #edit-btn a {
  color: #fff;
  text-decoration: none;
  align-self: center;
}

#nav-btn #edit-btn:hover {
  background-color: $mid-green;
  border: 1px solid $mid-green;
  box-shadow: 5px 5px 10px $mid-gray;
}
