@import "config/colors";

body {
  background-color: #fff;
  overflow-y:hidden;
}

h1 {
  color: rgb(5,180,112);
}

.parent {
  min-height: 100vh;
}

form {
  width: 100%;
}

.form-inputs {
  margin-bottom: 40px;
}

.btn, .form-inputs input {
  border-radius: 30px;
}

#nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-btn a {
  color: $red;
}

#nav-btn a:hover {
  font-weight: bold;
}

.btn {
  width: 150px;
  height: 50px;
  background-color: $green;
  border: 1px solid $green;
  box-shadow: 5px 5px 10px $mid-gray;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  background-color: $mid-green;
  border: 1px solid $mid-green;
  box-shadow: 5px 5px 10px $mid-gray;
}
