#card-bike {
  border-radius: 5px;
  border: 1px solid rgba(246, 64, 94, 0.098);
  box-shadow: 10px 5px 5px rgba(189, 189, 189, 0.294);
  transition: 0.5s ease-in-out;
}

#card-bike a {
  border-radius: 5px;
  border: 1px solid rgba(246, 64, 94, 0.098);
  padding: 5px;
  width: 200px;
  height: 20px;
  background-color: rgba(246, 64, 94, 0.098);
  text-decoration: none;
  color: rgb(5,180,112);
  transition: 0.3s ease-in-out;
}

a:hover {
  color: rgb(5,180,112);
  background-color: rgba(246, 64, 94, 0.188);
}

#card-bike:hover {
  transform: translateY(20px);
}

#card-bike:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(246, 64, 94, 0.098), rgba(5, 180, 113, 0.097));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

#card-bike:hover:before {
  opacity: 1;
}

#card-bike .card-body {
  position: relative;
  z-index: 3;
  color: #000;
  opacity: 1;
  transition: 0.5s all;
}

.flexbox{
  display:flex;
  justify-content: space-evenly;
}

.map-card{
  flex-shrink:0;
  position: sticky;
  top:0;
}
